.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    grid-template-rows: 300px;
    align-items: center;
    background-color: white;
    padding: 2rem;
}

.footer a, p {
    font-size: 18px;
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

.footer ul {
    list-style: none;
    margin: 0 1rem;
    font-size: 20px;
}

.footer div {
    margin: 0 1rem;
}

.footer > img:last-of-type {
    margin: 0 1rem;
    max-width: 50px;
}

.icons {
    display: inline;
}

.icons a {
    text-decoration: none;
    color: black;
}

.icon-item {
    display: flex;
    flex: row;
    align-items: flex-start;
}
