.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.links li {
    margin: 0 1rem;
}

.links a {
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    white-space: nowrap;
    transition: background-color 0.7s ease;
}

.links a:hover {
    color: #F4CE14;
    background-color: #495E57;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

@media (max-width: 800px) {

    .navbar {
        position: fixed;
        justify-content: space-between;
        width: 100%;
    }

    .hamburguer {
        display: block;
        margin-right: 35px;
    }

    .links {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        flex-direction: column;
        background-color: white;
        text-align: center;
        gap: 0;
        transition: left 0.3s ease-in-out;
        z-index: 10;
    }

    .links.active {
        left: 0;
    }

    .links > li {
        margin: 16px 0;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
